body {
    font-family:  Helvetica, sans-serif;
    margin-top: -10px;
 }
 .bg-grey {
    background:  rgb(228, 225, 225);
    
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: black;
        margin-top:0px;
 }
 footer p, a {
font-size: 13px;
margin-left: -20px;

}




.input-group-btn button{

    width:500px;
    color: #6ebdf;
    border-radius:10px;
}
.bottom h6{
text-align: center;
margin-bottom: 0px;
margin-top: 30px;
}
footer h5{
color: black;
text-align: center;
font-size: 16px;
margin-top:25px;
}

footer siteseal{

   text-align: right;
}


footer h6 {
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 40px;
position: relative;
}



footer h6:after {

position: absolute;
content: "";
background: #00a2ed;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: #00a2ed;

            text-decoration: none;
            border: 1px solid;
            
            font-size: 13px;
            padding: 7px 3px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
border: none;
    
border-radius: 300px 25 0 25px;
outline: none;
padding-left: 10px;
margin-bottom: 10px;



}
::placeholder {
font-size: 10px;
padding-left: 10px;

}
.form-footer input{
border-top: s;

}

.form-footer input[type="button"] {
border: none;
background:#00a2ed;
    
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
margin-left: -15px;
color:  #000000;
font-size: 30px;
padding: 10px 15px;
background: rgb(228, 225, 225);
}

 
.social .fa:hover {
            
    color:#00a2ed;
           
 }


 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}


footer ul  li a{
text-decoration: none;
color: black;
text-decoration:none;
margin-left: -14px;
font-size: 12px;

}
a:hover {
text-decoration: none;
color: #6ebdfe !important;

}
.logo-part {
border-right: 1px solid black;
height: 100%;
}